<h2>ABT Patcher</h2>

<section>
    <ignore-plugins patcher-id="abtPatcher"></ignore-plugins>
</section>

<section>
    <div>
        <span class="input-label" title="Arrow Gravity">Arrow Gravity</span>
        <input type="text" ng-model="settings.abtPatcher.arrowGravity"/>
        <span class="input-label" title="Arrow Speed">Arrow Speed</span>
        <input type="text" ng-model="settings.abtPatcher.arrowSpeed"/>
        <span class="input-label" title="Bolt Gravity">Bolt Gravity</span>
        <input type="text" ng-model="settings.abtPatcher.boltGravity"/>
        <span class="input-label" title="Bolt Speed">Bolt Speed</span>
        <input type="text" ng-model="settings.abtPatcher.boltSpeed"/>
        <span class="input-label" title="Max Item Ammo Count">Max Item Ammo Count</span>
        <input type="text" ng-model="settings.abtPatcher.ammoItemCount"/>
    </div>
</section>
